################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CrudDemo/bin/Debug/netcoreapp3.1
/CrudDemo/obj
